/*General changes start*/
p{
    font-family: 'Oswald';
}

body{
    background-color: #eeeeee;
}
/*General changes end*/

/*nav and header section start*/
.display-3{
    font-family: 'smooch' ;
}

.navbar{
    border-bottom: 2px solid #CC379B;
}

.navbar .navbar-brand{
    color: #CC379B;
    font-size: 24px;
}
.navbar .navbar-brand:hover{
    color: white;
}

.navbar li > a{
color: #CC379B !important
}

.navbar li > a:hover{
    color: white !important;

}

.btn-outline-secondary{
    cursor: pointer;
    color: white;
    border-color: white;
}

.btn-outline-secondary:hover{
    background-color: #CC379B;
    color: black;
} 

#header{
    background: url('../images/background.jpg') no-repeat; 
    background-size: cover;
    height: 100vh;
}

#header .col{
    color: white;
}

#features  i{
    color:#CC379B;
    cursor: pointer;
}

#features h3{
    font-family: 'Oswald';
    font-weight: bold;
}

#features h3:hover{
    color: #CC379B;
    cursor: pointer;
}

/*nav and header section end*/

/*video section start*/
#video .col-md-12{
    color: white !important;
}

#video{
    background: url('../images/background.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

#video i{
    color: #CC379B;
}
/*video section end*/

/*myArea section start*/
#aboutMe{
    background-color: #212529;
}

.card{
    width: 18rem;
    border-color: #CC379B;
}

.card h5{
    color: #CC379B;
}

.card{
    background-color: #eeeeee;
}

/* #aboutMe .col-lg-4{
    padding-left: 160px;
} */

.card .btn-outline-secondary{
    color: #CC379B;
    border-color: #CC379B;
}

.card .btn-outline-secondary:hover{
    color: black;
   
}
/*myArea section end*/

/*Galery section start*/
#galery .col-md-3{
    padding-left: 0;
    padding-right: 0;
}

/* #galery .container-fluid{
    padding-left: 310px;
} */


.imageContainer{
    position: relative;
    cursor: pointer;
}

.imgOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #CC379B;
    opacity: 0;
}

.imageContainer:hover .imgOverlay{
    opacity: .7;
}

.textContainer{
    position: absolute;
    color: white;
    margin-left: 50px;
    margin-top: 40px;
}

/*Galery section end*/