/*General changes start*/
p{
    font-family: 'Oswald';
}
/*General changes end*/

/*nav and header section start*/
.display-3{
    font-family: 'smooch' ;
}

.navbar{
    border-bottom: 2px solid #CC379B;
}

.navbar .navbar-brand{
    color: #CC379B;
    font-size: 24px;
}
.navbar .navbar-brand:hover{
    color: white;
}

.navbar li > a{
color: #CC379B !important
}

.navbar li > a:hover{
    color: white !important;

}

.btn-outline-secondary{
    cursor: pointer;
    color: white;
    border-color: white;
}

.btn-outline-secondary:hover{
    background-color: #CC379B;
    color: black;
} 

#header{
    background: url('../images/background.jpg') no-repeat; 
    background-size: cover;
    height: 100vh;
}

#header .col{
    color: white;
}

#features  i{
    color:#CC379B;
    cursor: pointer;
}

#features h3{
    font-family: 'Oswald';
    font-weight: bold;
}

#features h3:hover{
    color: #CC379B;
    cursor: pointer;
}

/*nav and header section end*/

/*video section start*/
#video .col-md-12{
    color: white !important;
}

#video{
    background: url('../images/background.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

#video i{
    color: #CC379B;
}
/*video section end*/

/*myArea section start*/
#aboutMe{
    background-color: #212529;
}

.myArea{
    margin-left: 200px;
    border-radius: 20%;
    background-color: #CC379B;
    color: white;
}

.theImage{
    margin-top: 25px;
    margin-left: -310px !important;
    position: relative;
    z-index: 50;
}


/*myArea section end*/